---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: webhook-service
      namespace: ravendb-operator-system
      path: /validate-ravendb-ravendb-io-v1alpha1-ravendbcluster
  failurePolicy: Fail
  name: vravendbcluster.kb.io
  rules:
  - apiGroups:
    - ravendb.ravendb.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ravendbclusters
  sideEffects: None
  admissionReviewVersions:
    - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: webhook-service
      namespace: ravendb-operator-system
      path: /mutate-ravendb-ravendb-io-v1alpha1-ravendbcluster
  failurePolicy: Fail
  name: mravendbcluster.kb.io
  rules:
  - apiGroups:
    - ravendb.ravendb.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ravendbclusters
  sideEffects: None
  admissionReviewVersions:
    - v1