apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: ravendb-operator-system
spec:
  ports:
    - port: 443
      targetPort: 9443
  selector:
    app: ravendb-operator
    control-plane: controller-manager
