apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: ravendb-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - displayName: Raven DBCluster
      kind: RavenDBCluster
      name: ravendbclusters.ravendb.ravendb.io
      version: v1
  description: ravendb-operator
  displayName: ravendb-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - ravendb-operator
  links:
  - name: Ravendb Operator
    url: https://ravendb-operator.domain
  maturity: alpha
  provider:
    name: ravendb-operator
  version: 0.0.0
