apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: ravendb-operator-system/ravendb-operator-serving-cert
  name: ravendbclusters.ravendb.ravendb.io
