apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
  - name: vravendbcluster.kb.io
    namespaceSelector:
      matchExpressions:
        - key: name
          operator: NotIn
          values:
            - ravendb-operator-system
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
  - name: mravendbcluster.kb.io
    namespaceSelector:
      matchExpressions:
        - key: name
          operator: NotIn
          values:
            - ravendb-operator-system