apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ravendb-operator.fullname" . }}-controller-manager
  labels:
    app: ravendb-operator
    {{- include "ravendb-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ravendb-operator
      {{- include "ravendb-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: ravendb-operator
        control-plane: controller-manager
        {{- include "ravendb-operator.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      serviceAccountName: {{ include "ravendb-operator.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 10
      containers:
        - name: manager
          command:
            - /manager
          args:
            - --leader-elect
            - --health-probe-bind-address=:8081
          env:
            - name: KUBERNETES_CLUSTER_DOMAIN
              value: "cluster.local"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: cert
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: true
      volumes:
        - name: cert
          secret:
            secretName: webhook-server-cert
            defaultMode: 420
