apiVersion: apps/v1
kind: Deployment
metadata:
  name: ravendb-operator-controller-manager
  labels:
    app: ravendb-operator
    control-plane: controller-manager
    app.kubernetes.io/name: ravendb-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ default 1 .Values.controllerManager.replicaCount }}
  selector:
    matchLabels:
      app: ravendb-operator
      control-plane: controller-manager
      app.kubernetes.io/name: ravendb-operator
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: ravendb-operator
        control-plane: controller-manager
        app.kubernetes.io/name: ravendb-operator
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      serviceAccountName: ravendb-operator-sa
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            secretName: webhook-server-cert
      containers:
        - name: manager
          image: "{{ .Values.controllerManager.image.repository }}:{{ default .Chart.AppVersion .Values.controllerManager.image.tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - /manager
          args:
            - --leader-elect
            - --health-probe-bind-address=:8081
          ports:
            - name: webhook-server
              containerPort: 9443
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: cert
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: true
