{{- $ns := default "ravendb" .Values.ravendb.namespace }}

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ravendb-node
  namespace: {{ $ns }}
  labels:
    {{- include "ravendb-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ravendb.ravendb.io
    resources:
      - ravendbclusters
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
