{{- $ns := default "ravendb" .Values.ravendb.namespace }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: ravendb-node
  namespace: {{ $ns }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ravendb-node
  namespace: {{ $ns }}
rules:
  - apiGroups:
      - ravendb.ravendb.io
    resources:
      - ravendbclusters
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources: 
      - pods/exec
    verbs: 
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ravendb-node-binding
  namespace: {{ $ns }}
subjects:
  - kind: ServiceAccount
    name: ravendb-node
    namespace: {{ $ns }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ravendb-node
