---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: ravendbclusters.ravendb.ravendb.io
spec:
  group: ravendb.ravendb.io
  names:
    kind: RavenDBCluster
    listKind: RavenDBClusterList
    plural: ravendbclusters
    singular: ravendbcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RavenDBCluster is the Schema for the ravendbclusters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              domain:
                minLength: 1
                type: string
              email:
                pattern: ^[^@\s]+@[^@\s]+\.[^@\s]+$
                type: string
              environment:
                additionalProperties:
                  type: string
                type: object
              image:
                minLength: 1
                type: string
              imagePullPolicy:
                enum:
                - Always
                - IfNotPresent
                - Never
                type: string
              ingressClassName:
                minLength: 1
                type: string
              license:
                minLength: 1
                type: string
              mode:
                enum:
                - None
                - LetsEncrypt
                type: string
              nodes:
                items:
                  properties:
                    certsSecretRef:
                      type: string
                    name:
                      minLength: 1
                      type: string
                    publicServerUrl:
                      minLength: 1
                      type: string
                    publicServerUrlTcp:
                      minLength: 1
                      type: string
                  required:
                  - name
                  - publicServerUrl
                  - publicServerUrlTcp
                  type: object
                minItems: 1
                type: array
              serverUrl:
                minLength: 1
                type: string
              serverUrlTcp:
                minLength: 1
                type: string
              storageSize:
                minLength: 1
                type: string
            required:
            - domain
            - image
            - imagePullPolicy
            - ingressClassName
            - license
            - mode
            - serverUrl
            - serverUrlTcp
            - storageSize
            type: object
          status:
            properties:
              message:
                type: string
              nodes:
                items:
                  properties:
                    name:
                      type: string
                    status:
                      type: string
                  required:
                  - name
                  - status
                  type: object
                type: array
              phase:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
